<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">  
  
	<context:component-scan base-package="com.xworkz.calamities" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="internalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
		
	</bean>

	<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		id="localSessionFactoryBean">
		<property name="dataSource" ref="driverManagerDataSource"></property>
		<property name="configLocation" value="/WEB-INF/classes/hibernate.xml"></property>
		<!-- <property name="afterPropertiesSet" value="resources/spring.properties"></property> -->
	</bean>

	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="driverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/20thorv05"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root123"></property>
	</bean>

	<bean class="com.xworkz.calamities.dao.CalamitiesDAOImpl" id="calamitiesDAOImpl">
		<property name="factory" ref="localSessionFactoryBean"></property>
	</bean>
	
	
	

</beans>